{% extends "layout.html" %}

{% block title %}

Page Title

{% endblock %}


{% block heading %}

heading

{%  endblock %}



{% block main %}

    <main class="page landing-page">

        <section class="clean-block clean-hero" style="color:rgba(9, 162, 255, 0.85);">

            <div class="text">
                <h2>Project1: Books</h2>
                <p>This project allows a user to register, login, search for books, submit reviews, and provide an API.</p><button class="btn btn-outline-light btn-lg" type="button">Register Here</button></div>
        </section>

    </main>

{% endblock %}